---

# Perkenalan

=======================================================

Graded Challenge 4

Nama : Jeni Kasturi

Batch : FTDS_BSD_2

Memprediksi harga suatu perjalanan dari database [Uber and Lyft Dataset Boston, MA]('https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma')

=======================================================

---

# Model Inference

### 1. Import Libraries

Import semua library yang dibutuhkan dalam projek.

In [1]:
#import Librarys
import pickle  
import json
import pandas as pd
import numpy as np

### 2. Load Model

In [2]:
# Muat semua Model

with open('model_lin.pkl', 'rb') as file_1: #rb = write binary
    model_lin = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2: 
    model_scaler = pickle.load(file_2)

with open('model_encoder.pkl', 'rb') as file_3: 
    model_encoder = pickle.load(file_3)

with open('num_col.txt', 'r') as file_4:
    num_col = json.load(file_4)

with open('cat_col.txt', 'r') as file_5:
    cat_col = json.load(file_5)

### 3. Load Data Inference

Masukan data yang sebelumnya di drop dari data df dan disimpan sebagai sample.

In [3]:
data_inf = pd.read_csv('data_inf.csv')

Tampilkan hasil split numerical dan categorical

In [4]:
# Split between numerical and categorical columns
data_inf_num = data_inf[num_col]
data_inf_cat = data_inf[cat_col] 
data_inf_cat

               source destination cab_type    name
0  Financial District      Fenway     Lyft  Shared

Tampilkan semua datanya

In [5]:
# Tampilkan semua data
pd.set_option('display.max_columns',None)
data_inf.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,short_summary,long_summary,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,icon,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,bf7b7290-b915-499a-bd83-c3c1dddbdaae,1.544856e+09,6,15,12,2018-12-15 06:35:07,America/New_York,Financial District,Fenway,Lyft,lyft_line,Shared,7.0,4.51,1.0,42.3661,-71.0631,45.84,43.0,Overcast,Mostly cloudy throughout the day.,0.0,0.0,0.92,5.52,7.33,1544918400,9.856,54.47,1544896800,38.94,1544954400,53.8,1544896800,35.08,1544950800,cloudy,43.75,1022.31,220,1.0,0,9.856,298.3,1544875681,1544908425,0.27,0.0074,1544893200,39.54,1544929200,54.47,1544896800,36.46,1544929200,53.8,1544896800

Lalu tampilkan feature scaling dan encoding pada data.

In [6]:
# Feature scaling and encoding
data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)

Langkah selanjutnya yaitu setel/reset ulang indeks

In [7]:
# Reset index
data_inf_cat_encoded = pd.DataFrame(data_inf_cat_encoded.toarray())
data_inf_cat_encoded.reset_index(drop = True, inplace = True)

Buat variabel baru yang berisikan concat data inference scaled dan encoded.

In [8]:
# Concat data inference scaled and encoded
data_inf_final=np.concatenate([data_inf_num_scaled,data_inf_cat_encoded],axis=1)

Langkah selanjutnya yaitu memprediksi inferensi data baru menggunakan regresi linier.

In [9]:
# Prediksi inferensi data baru menggunakan regresi linier
y_pred_inf = model_lin.predict(data_inf_final)
y_pred_inf

c:\Users\W1OPro\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([12.62451172])

Tampilkan ouput yang lebih rapih dari hasil prediksi inferensi data baru.

In [10]:
print('Hasil prediksi price adalah', round(y_pred_inf[0],2))

Hasil prediksi price adalah 12.62

---